APP_NAME="Absensi Bawaslu"
APP_ENV=production
APP_KEY=base64:ISI_HASIL_php_artisan_key_generate_SHOW
APP_DEBUG=false
APP_TIMEZONE=Asia/Jakarta
APP_URL=https://ISI_DOMAIN_RAILWAY_KAMU.up.railway.app

DB_CONNECTION=mysql
DB_HOST=${{MySQL.MYSQLHOST}}
DB_PORT=${{MySQL.MYSQLPORT}}
DB_DATABASE=${{MySQL.MYSQLDATABASE}}
DB_USERNAME=${{MySQL.MYSQLUSER}}
DB_PASSWORD=${{MySQL.MYSQLPASSWORD}}

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=

LOG_CHANNEL=stderr
LOG_STDERR_FORMATTER=Monolog\\Formatter\\JsonFormatter
QUEUE_CONNECTION=sync
CACHE_STORE=file

# Membantu Railpack memasang extension PHP yang dibutuhkan Laravel + MySQL + PDF.
RAILPACK_PHP_EXTENSIONS=pdo_mysql,mbstring,dom,xml,zip
