/.phpunit.cache
/node_modules
/vendor
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
/auth.json
/npm-debug.log
/yarn-error.log
/public/hot
/public/storage
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
!/storage/framework/cache/data/.gitkeep
!/storage/framework/sessions/.gitkeep
!/storage/framework/views/.gitkeep
/database/database.sqlite
/bootstrap/cache/*.php
*.zip
.DS_Store
Thumbs.db
